<div style="height: 300px; width: 100%;">
        <img src="{{product.photo}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{product_name}}</h5>
        <p class="card-text">${{price}}</p></div>
</div>